<div class="card-body col-lg-12">
    <div class="row" style="margin-top:10px;border-style:solid;border-color:black;border-radius:15px;">
        <div class="col-lg-3">
            <!--Property Binding-->
            <img [src]="product.img">
        </div>
        <div class="col-lg-9" style="margin-top:20px;">
            <!--Interpolation Binding-->
            <div >
                {{product.pname | uppercase}}
                
                <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
                <div style="margin-left: 400px; height:40px;width: 40px; color: yellow;" class="like" >
                    <span  (click)="showliketoggle()" [ngClass]="togglelike()"></span>
                </div>
                
            </div>
            <hr>
            <div [hidden]="productDetail" >
               {{product.pdescription}}
               <app-counter></app-counter>
              <p >
               Price: {{product.price | currency:'INR'}}
             </p>
                
                
            </div>
        </div>
    </div>