<!--fetch all the records from fridge property in the .ts file which is accessing the refrigerator.json-->
<marquee>Big Billion Sale</marquee>
<div style="margin-top: 30px;">
    <div class="row" >
        <!--1st column-->
        <div class="col col-lg-3"[style.margin-top]="'-30px'"[style.margin-left]="'10px'">
            
             <app-allcategories></app-allcategories> 
            <!-- <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories> -->
            <!-- <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories> -->
           
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
            <app-deals [product]="productItem" *ngFor="let productItem of all"></app-deals>
        </div>
        <!--3rd column-->
        <div class="coln col-lg-3" [style.margin-left]="'75%'" [style.margin-top]="'-2620px'">
            <app-advertisement></app-advertisement>
             <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            
        </div>
    </div>
</div>